{% include 'header-admin.twig' with {'page' : page } %}
    <body>
        <div class="container background">
        
            <div class="row">
                <div class="col-sm-12 headline">
                    <img src="/front-end/resources/img/Menu/Logo.png" alt="">
                </div>
            </div>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="it active" ><a href="#" data-id="one" onclick="switchPannels(event)" >Slides</a></li>
                    <li role="presentation" class="it"><a href="#" data-id="two" onclick="switchPannels(event)">Gallery Pictures</a></li>
                    <li role="presentation" class="it"><a href="#" data-id="three" onclick="switchPannels(event)">Menu</a></li>
                </ul>
            </div>
            <div id="one" class="cont">
            <div class="row">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for meal in meals%}
                        {% for mealTypes in meal.meal_types %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{mealTypes.id}}">
                            <h4 class="panel-title">
                                <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{mealTypes.id}}" aria-expanded="true" aria-controls="collapse{{mealTypes.id}}">
                                {{mealTypes.name}}
                                </a>
                            </h4>
                            </div>
                            <div id="collapse{{mealTypes.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{mealTypes.id}}">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Info</th>
                                        <th>Price</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for food in mealTypes.food %}
                                        <tr>
                                            <td>{{food.name}}</td>
                                            <td>{{food.info}}</td>
                                            <td>{{food.price}}</td>
                                            <td>                                    
                                                <button class="btn btn-default">Edit</button>
                                                <button class="btn btn-default">Delete</button>
                                                <button class="btn btn-default">Cancel</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Add new Food</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group">
                            <label for="pwd">info:</label>
                            <input type="text" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Price:</label>
                            <input type="text" class="form-control" id="pwd">
                        </div>
                        <label for="pwd">Add to Section</label>
                        <select class="form-control">
                        {% for meal in meals%}
                            {% for mealTypes in meal.meal_types %}
                            <option value="{{mealTypes.id}}">{{mealTypes.name }}</option>
                            {% endfor %}
                        {% endfor %}
                        </select>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Log In</button>
                        </div>
                    </div>
                </div>
            
            </div>
            </div>
            <div id="two" class="cont">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Gallery Pictures</div>
                        <div class="panel-body">
                            {% for gPicture in galleryPictures %}
                            <div class="col-sm-3 galleryPicContainer">
                                <img src="{{gPicture.url}}" alt="" class="pic">
                                <img src="/front-end/resources/img/x.png" alt="" class="closeX" data-id="{{gPicture.id}}">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Upload Picture</div>
                        <div class="panel-body">
                            
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default upload">Upload Picture</button> <span class="uploadedSpan"></span>
                            <input type="file" class="hidden galleryUploader" id="upload" name="pics[]" multiple />
                            <button class="btn btn-success" id="save" >Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="three" class="cont">
                    <div class="panel panel-default">
                        <div class="panel-heading">Slider Pictures</div>
                        <div class="panel-body">
                        <table>
                            <th>Photo</th>
                            <th>Title</th>
                            <th>Info</th>
                            <th>Action</th>

                            {% for sliderPicture in sliderPictures %}
                            <tr>
                                <td>
                                    <div class="col-sm-3">
                                        <img src="{{sliderPicture.url}}" alt="" class="pic">
                                    </div>
                                </td>
                                <td>
                                    {{sliderPicture.title}}
                                </td>
                                <td>
                                    {{sliderPicture.about}}
                                </td>
                                <td>
                                    <button class="btn btn-default">Edit</button>
                                    <button class="btn btn-default">Delete</button>
                                    <button class="btn btn-default">Cancel</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Upload Slide Picture</div>
                        <div class="panel-body">
                            <div class="form-group imageContainer" >
                                
                            </div>
                            <div class="form-group">
                                <label for="pwd">Title:</label>
                                <input type="text" class="form-control" id="pwd">
                            </div>
                            <div class="form-group">
                                <label for="pwd">About:</label>
                                <input type="text" class="form-control" id="pwd">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default upload">Upload Picture</button> <span class="uploadedSpan"></span>
                            <input type="file" class="hidden" id="upload" name="pic" />
                            <button class="btn btn-success" id="save" >Save</button>
                        </div>
                    </div>
            </div>
            <script src="/front-end/resources/js/admin-script.js"></script>
    </body>
</html>