{% include 'header.twig'%}
<body>
    {% include 'parts/side-bar.twig' with { 'time' : workingTime }%}
    <!--Start of the sticky many for the phones-->
    <div class="container-fluid">
        <nav>
            <div class="logo-mobile">
                <img src="/front-end/resources/img/Menu/logo-mobile.png" alt=""> 
            </div>
            <div class="burger">
                <img src="/front-end/resources/img/menu.svg" alt="">
            </div>
            <div class="hiddenList">
                <ul>
                    <li>
                        <a href="#myCarousel">Home</a>
                    </li>
                    <li>
                        <a href="#aboutRestourantMobile">Restaurant</a>
                    </li>
                    <li>
                        <a href="#mobileMenu">Menu</a>
                    </li>
                    <li>
                        <a href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>         
        </nav>
    </div>
    <!--End of the sticky many for the phones-->
    <div id="content">
        <div  class="row  yell" id="yell">
            <div class="row" id="container">
                <div class="container-fluid sliderContainer">
                    {% include 'parts/slider.twig' with {'pictures' : pictures } %}
                </div>
            </div>
        </div>
        <div class="row" id="aboutRestourantMobile">

            <div class="col-sm-12 aboutResMobile">
                <h3>Mediterrane Vielfalt im passenden Ambiente genießen</h3>
                <p>
                    Die kroatische Küche ist so abwechslungsreich wie die Geschichte des Landes. 
                    In den Gerichten spiegeln sich die Einflüsse unterschiedlichster Kulturen wider: 
                    Römische Einflüsse sind genauso zu finden wie italienische, österreichische, 
                    türkische und ungarische. Aber auch die Küche der einzelnen Regionen zeigt große 
                    Unterschiede. Je nach dem lokalen Angebot findet man Rezepte mit viel Gemüse oder 
                    Fleisch oder mit Meerestieren. Jeder wird hier sein Lieblingsgericht finden - da sind 
                    wir uns ganz sicher.<br /><br />

                    Viele Menschen reduzieren die Spezialitäten auf Ćevapčići oder Ražnjići, was der Vielfalt 
                    der kroatischen Küche nicht gerecht wird. Aber überzeugen Sie sich selbst: In unserem 
                    Restaurant Kolpinghaus verwöhnen wir Sie und Ihre Lieben mit einer Vielzahl an 
                    kroatischen und mediterranen Spezialitäten. Und auch größere Gesellschaften, 
                    wie zum Beispiel bei Geburtstags-, Familien- oder Betriebsfeiern, wissen unsere 
                    mannigfaltige Küche zu schätzen. Unser Saal, der bis zu 50 Personen Platz bietet, 
                    bildet das optimale Ambiente für jegliche Events mit kulinarischen Highlights.<br /><br />

                    Und natürlich ist auch für Kurzweil gesorgt, gleich zwei Kegelbahnen stehen unseren Gästen zur Verfügung.<br /><br />

                    Vor dem Restaurant stehen Ihnen großzügige Parkgelegenheiten für Pkw zur Verfügung. 
                    Lassen Sie sich von der Vielfalt der kroatischen Küche in ihren Bann ziehen – und besuchen Sie uns!
                </p>
            </div>
            <div class="col-sm-12 bannerAbout">
                
            </div>
            <div class="col-sm-12 outterBox">
                <div class="box">
                    <p>{{time.day}} <span>{{time.time}}</span></p>
                </div>
            </div>
            <div class="col-sm-12 mobileMenu" id="mobileMenu">
                <h3>Menu</h3>
                <div class="col-md-12  sub sections">
                    <p>
                        {% for meal in meals %}
                        <a href="#" class="meals" data-meal-id="{{meal.id}}" onclick="switchMeals(event)">
                            <span class="classes">{{meal.name}}</span> - 
                        </a>
                        {% endfor %}
                    </p>
                </div>
                <div class="row items">
                {% for meal in meals %}
                    {% for mealTypes in meal.meal_types %}
                        {% for food in mealTypes.food %}
                        <div class="itemList" data-meal-id="{{meal.id}}" data-meal-type-id="{{mealTypes.id}}">
                            <div class="info">
                                <h5>{{food.name}}</h5>
                                <p>{{food.info}}&nbsp;</p>
                            </div>
                            <div class="price">
                                <h5>{{food.price|number_format(2, '.')}} &euro;</h5>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row" id="aboutRestourant">
            {% include 'parts/about-restourant.twig' %}
        </div>
        <div class="row gall">
            {% include 'parts/gallery.twig' with { 'galleryPictures' : galleryPictures } %}
        </div>

        <div class="row" id="speiseCarte">
           {% include 'parts/menu.twig' with { 'meals' : meals} %}
        </div>

        <div class="row cont" id="cont">
            {% include 'parts/contacts.twig' %}
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="customHeaderModal" class="modal-header">
                    <h4 class="modal-title m-auto">
                        Ankündigung
                    </h4>
                </div>
                <div id="modalText" class="modal-body text-center">
                </div>
            </div>
        </div>
    </div>
    <script src="/front-end/resources/js/scroll.js"></script>
</body>
</html>